In [ ]:
# Marco data frame

In [3]:
pwd

'/Users/marco_mo/Ironhack/Week03/Group_Project/Project1---Ironhack/notebooks/Marco'

In [5]:
import pandas as pd

# Read the CSV file into a DataFrame
demo_df1 = pd.read_csv('../../data/raw/Olympic_Athlete_Bio.csv')
demo_df1 = demo_df1.drop(columns=["height", "weight", "description", "special_notes"])
# Display the first few rows of the DataFrame
demo_df1.head()

,athlete_id,name,sex,born,country,country_noc
0,65649,Ivanka Bonova,Female,4 April 1949,Bulgaria,BUL
1,112510,Nataliya Uryadova,Female,15 March 1977,Russian Federation,RUS
2,114973,Essa Ismail Rashed,Male,14 December 1986,Qatar,QAT
3,30359,Péter Boros,Male,12 January 1908,Hungary,HUN
4,50557,Rudolf Piowatý,Male,28 April 1900,Czechoslovakia,TCH

In [6]:
demo_df1['sex'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
demo_df1.rename(columns= {'sex':'gender', }, inplace=True)