In [ ]:
# Athletes data frame

In [3]:
pwd

'/Users/marco_mo/Ironhack/Week03/Group_Project/Project1---Ironhack/notebooks/Marco'

In [89]:
import pandas as pd

# Read the CSV file into a DataFrame
demo_df1 = pd.read_csv('../../data/raw/Olympic_Athlete_Bio.csv')
demo_df1 = demo_df1.drop(columns=["height", "weight", "description", "special_notes", "name", "country_noc"])
# Display the first few rows of the DataFrame
demo_df1

        athlete_id     sex               born              country
0            65649  Female       4 April 1949             Bulgaria
1           112510  Female      15 March 1977   Russian Federation
2           114973    Male   14 December 1986                Qatar
3            30359    Male    12 January 1908              Hungary
4            50557    Male      28 April 1900       Czechoslovakia
...            ...     ...                ...                  ...
155856       23748    Male     8 January 1946        United States
155857       58581    Male         2 May 1938              Hungary
155858       30387    Male  19 September 1885              Hungary
155859       69900    Male    13 January 1954         East Germany
155860       74003    Male       22 June 1969              Nigeria

[155861 rows x 4 columns]

In [263]:
# Creation of second data frame with information about medals per athlete
demo_df2 = pd.read_csv('../../data/raw/Olympic_Athlete_Event_Results.csv')
# Removal of columns which will not be used in the analysis
demo_df2 = demo_df2.drop(columns=["result_id", "pos", "isTeamSport", "edition_id"])
demo_df2

,edition,country_noc,sport,event,athlete,athlete_id,medal
0,1908 Summer Olympics,ANZ,Athletics,"100 metres, Men",Ernest Hutcheon,64710,NaN
1,1908 Summer Olympics,ANZ,Athletics,"400 metres, Men",Henry Murray,64756,NaN
2,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Harvey Sutton,64808,NaN
3,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Guy Haskins,922519,NaN
4,1908 Summer Olympics,ANZ,Athletics,"800 metres, Men",Joseph Lynch,64735,NaN
...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,NED,Bobsleigh,"Monobob, Women",Karlien Sleper,148662,NaN
316830,2022 Winter Olympics,SVK,Bobsleigh,"Monobob, Women",Viktória Čerňanská,138683,NaN
316831,2022 Winter Olympics,KOR,Bobsleigh,"Monobob, Women",Kim Yu-Ran,137542,NaN
316832,2022 Winter Olympics,JAM,Bobsleigh,"Monobob, Women",Jazmine Fenlator-Victorian,128682,NaN
316833,2022 Winter Olympics,UKR,Bobsleigh,"Monobob, Women",Lidiya Hunko,149047,NaN

In [264]:
# Merging both data frames to create one single source
f_merged = pd.merge(demo_df1, demo_df2, on='athlete_id', how='inner')
f_merged

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal
0,65649,Female,4 April 1949,Bulgaria,1976 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN
1,65649,Female,4 April 1949,Bulgaria,1980 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN
4,30359,Male,12 January 1908,Hungary,1932 Summer Olympics,HUN,Artistic Gymnastics,"Individual All-Around, Men",Péter Boros,NaN
...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold

In [265]:
# Saving the merged dataframe as a new one, and spliting values in the column "edition" to create a new colum only with the year of participation
demo_df3 = f_merged
demo_df3[['olympic_year', 'season', 'event2']] = f_merged['edition'].str.split(' ', n=2, expand=True)
demo_df3

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,season,event2
0,65649,Female,4 April 1949,Bulgaria,1976 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN,1976,Summer,Olympics
1,65649,Female,4 April 1949,Bulgaria,1980 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN,1980,Summer,Olympics
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008,Summer,Olympics
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008,Summer,Olympics
4,30359,Male,12 January 1908,Hungary,1932 Summer Olympics,HUN,Artistic Gymnastics,"Individual All-Around, Men",Péter Boros,NaN,1932,Summer,Olympics
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992,Summer,Olympics
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996,Summer,Olympics
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996,Summer,Olympics
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000,Summer,Olympics
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,Summer,Olympics

In [266]:
# From the new data frame and the new colums, droping columns to only keep the information about the year
demo_df3 = demo_df3.drop(columns=["event2", "season"])
demo_df3

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year
0,65649,Female,4 April 1949,Bulgaria,1976 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN,1976
1,65649,Female,4 April 1949,Bulgaria,1980 Summer Olympics,BUL,Athletics,"4 × 400 metres Relay, Women",Ivanka Bonova,NaN,1980
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008
4,30359,Male,12 January 1908,Hungary,1932 Summer Olympics,HUN,Artistic Gymnastics,"Individual All-Around, Men",Péter Boros,NaN,1932
...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000

In [267]:
# For the new colums, transformation of data type to be abble to be used as numeric value
demo_df3['olympic_year'] = demo_df3['olympic_year'].astype('Int64')
demo_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316827 entries, 0 to 316826
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    316827 non-null  int64
 1   sex           316827 non-null  object
 2   born          311083 non-null  object
 3   country       316827 non-null  object
 4   edition       316827 non-null  object
 5   country_noc   316827 non-null  object
 6   sport         316827 non-null  object
 7   event         316827 non-null  object
 8   athlete       316827 non-null  object
 9   medal         44686 non-null   object
 10  olympic_year  316827 non-null  Int64
dtypes: Int64(1), int64(1), object(9)
memory usage: 26.9+ MB

In [268]:
# Filtering out all entries from Olympic Games before 1984
demo_df3 = demo_df3[demo_df3['olympic_year'] >= 1984]
demo_df3

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008
12,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,NaN,2020
13,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,NaN,2016
14,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000

In [269]:
# For the date of birth, we separate the text to keep only the year
demo_df3[['birth_day', 'birth_month', 'birth_year']] = demo_df3['born'].str.split(' ', n=2, expand=True)
demo_df3

/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/3776835293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_df3[['birth_day', 'birth_month', 'birth_year']] = demo_df3['born'].str.split(' ', n=2, expand=True)
/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/3776835293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_df3[['birth_day', 'birth_month', 'birth_year']] = demo_df3['born'].str.split(' ', n=2, expand=True)
/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/3776835293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo_df3[['birth_day', 'birth_month', 'birth_year']] = demo_df3['born'].str.split(' ', n=2, expand=True)

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_day,birth_month,birth_year
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008,15,March,1977
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008,14,December,1986
12,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,NaN,2020,9,November,1997
13,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,NaN,2016,13,December,1996
14,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,NaN,2020,13,December,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992,22,June,1969
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996,22,June,1969
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996,22,June,1969
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000,22,June,1969
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,22,June,1969

In [270]:
# In the data frame we drop the values for the day and month, we keep only the year
demo_df3 = demo_df3.drop(columns=["birth_day", "birth_month"])
demo_df3

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year
2,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008,1977
3,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008,1986
12,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,NaN,2020,1997
13,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,NaN,2016,1996
14,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,NaN,2020,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
316822,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992,1969
316823,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996,1969
316824,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996,1969
316825,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000,1969
316826,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,1969

In [271]:
# Checking for non numeric values
demo_df3.isna().sum()

athlete_id           0
sex                  0
born               315
country              0
edition              0
country_noc          0
sport                0
event                0
athlete              0
medal           154226
olympic_year         0
birth_year         556
dtype: int64

In [272]:
# Droping non numeric values from the column birth_year
# This is because information is not available, these entries represent less than 0.5% of total entries, and no adequate proxy data can be used to calculate age of athletes
demo_df3 = demo_df3[ demo_df3['birth_year'].isna() == False ].reset_index(drop=True)

In [273]:
# Check of removal of non values
demo_df3.isna().sum()

athlete_id           0
sex                  0
born                 0
country              0
edition              0
country_noc          0
sport                0
event                0
athlete              0
medal           153677
olympic_year         0
birth_year           0
dtype: int64

In [274]:
# Saving the current dataframe in a new one
demo_df4 = demo_df3
demo_df4

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year
0,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,NaN,2008,1977
1,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,NaN,2008,1986
2,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,NaN,2020,1997
3,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,NaN,2016,1996
4,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,NaN,2020,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
178250,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1992,1969
178251,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,1996,1969
178252,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,NaN,1996,1969
178253,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,NaN,2000,1969
178254,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,1969

In [275]:
# For the colum "medal", we replace all non values with "None" to clarify that this entry represents an athlete participation but no medal won
# Each row represents one instance of an athlete's participation
demo_df4['medal'] = demo_df4['medal'].fillna('None')
demo_df4

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year
0,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,None,2008,1977
1,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,None,2008,1986
2,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,None,2020,1997
3,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,None,2016,1996
4,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,None,2020,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
178250,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1992,1969
178251,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,1996,1969
178252,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1996,1969
178253,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,2000,1969
178254,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,1969

In [276]:
# Check for non values remaining
demo_df4.isna().sum()

athlete_id      0
sex             0
born            0
country         0
edition         0
country_noc     0
sport           0
event           0
athlete         0
medal           0
olympic_year    0
birth_year      0
dtype: int64

In [277]:
# We identified weird values in birth_year due to inconsistencies in reported data
# These were less than 20 entries so we decided to change values to numeric which would lead to some non numeric values
demo_df4['birth_year'] = pd.to_numeric(demo_df4['birth_year'], errors='coerce')

In [278]:
# Test for unique values
demo_df4['birth_year'].unique()

array([1977., 1986., 1997., 1996., 1975., 1982., 2000., 1967., 1959.,
       1972., 1981., 1968., 1988., 1963., 1989., 1984., 1965., 1994.,
       1976., 1974., 1991., 1983., 1990., 1970., 1969., 1998., 1958.,
       1966., 1957., 1995., 1960., 1956., 1992., 2001., 1964., 1971.,
       1978., 1985., 1999., 1973., 1993., 2002., 1961., 1987., 1954.,
       1980., 1979., 1962., 1955., 1948., 1951., 1944., 1947., 1939.,
       2004., 1946., 1950., 1942., 1952., 1936., 2003., 1953., 1943.,
       2008., 1945., 2006., 1949., 1924., 2005., 1941.,   nan, 1940.,
       1937., 1929., 1935., 1934., 1933., 1938., 2007., 1932., 1930.,
       1917., 1928., 1931., 2009.])

In [279]:
# Removal of the newly formed non values and saving it in a new data frame
demo_df4 = demo_df4[ demo_df4['birth_year'].isna() == False ].reset_index(drop=True)
demo_df4

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year
0,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,None,2008,1977.0
1,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,None,2008,1986.0
2,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,None,2020,1997.0
3,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,None,2016,1996.0
4,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,None,2020,1996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
178231,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1992,1969.0
178232,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,1996,1969.0
178233,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1996,1969.0
178234,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,2000,1969.0
178235,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,1969.0

In [280]:
# Creation of a new column with the calulcation of the athlete's age at the time of each participation
demo_df4['age'] = demo_df4['olympic_year'] - demo_df4['birth_year']
demo_df4

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year,age
0,112510,Female,15 March 1977,Russian Federation,2008 Summer Olympics,RUS,Beach Volleyball,"Beach Volleyball, Women",Nataliya Uryadova,None,2008,1977.0,31.0
1,114973,Male,14 December 1986,Qatar,2008 Summer Olympics,QAT,Athletics,"10,000 metres, Men",Essa Ismail Rashed,None,2008,1986.0,22.0
2,146111,Female,9 November 1997,ROC,2020 Summer Olympics,ROC,Beach Volleyball,"Beach Volleyball, Women",Svetlana Kholomina,None,2020,1997.0,23.0
3,133041,Male,13 December 1996,Canada,2016 Summer Olympics,CAN,Diving,"Platform, Men",Vincent Riendeau,None,2016,1996.0,20.0
4,133041,Male,13 December 1996,Canada,2020 Summer Olympics,CAN,Diving,"Synchronized Platform, Men",Vincent Riendeau,None,2020,1996.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
178231,74003,Male,22 June 1969,Nigeria,1992 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1992,1969.0,23.0
178232,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,1996,1969.0,27.0
178233,74003,Male,22 June 1969,Nigeria,1996 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,None,1996,1969.0,27.0
178234,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"400 metres, Men",Sunday Bada,None,2000,1969.0,31.0
178235,74003,Male,22 June 1969,Nigeria,2000 Summer Olympics,NGR,Athletics,"4 × 400 metres Relay, Men",Sunday Bada,Gold,2000,1969.0,31.0

In [282]:
filter_demo = demo_df4[demo_df4['birth_year'] == 2009]
filter_demo

,athlete_id,sex,born,country,edition,country_noc,sport,event,athlete,medal,olympic_year,birth_year,age
139534,146782,Female,1 January 2009,Syrian Arab Republic,2020 Summer Olympics,SYR,Table Tennis,"Singles, Women",Hend Zaza,None,2020,2009.0,11.0

In [157]:
paris_df.columns

Index(['code', 'name', 'name_short', 'name_tv', 'gender', 'function',
       'country_code', 'country', 'country_full', 'nationality',
       'nationality_full', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date', 'birth_place', 'birth_country',
       'residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports'],
      dtype='object')

In [218]:
# Import of dataframe from Paris 2024
import ast

paris_df = pd.read_csv('../../data/raw/athletes.csv')
paris_df = paris_df.drop(columns=["name_short", "name_tv", "country_full", "nationality", "function", 
                                  "nationality_full", 'height', 'weight',
       'birth_place', 'birth_country','residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports'])

#paris_df['events'] = paris_df['events'].str.replace('[\[\]"]', '', regex=True)
#paris_df['disciplines'] = paris_df['disciplines'].str.replace("[\[\]']", "", regex=True)

paris_df['disciplines'] = paris_df['disciplines'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
paris_df['events'] = paris_df['events'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

paris_df

,code,name,gender,country_code,country,nationality_code,disciplines,events,birth_date
0,1532872,ALEKSANYAN Artur,Male,ARM,Armenia,ARM,[Wrestling],[Men's Greco-Roman 97kg],1991-10-21
1,1532873,AMOYAN Malkhas,Male,ARM,Armenia,ARM,[Wrestling],[Men's Greco-Roman 77kg],1999-01-22
2,1532874,GALSTYAN Slavik,Male,ARM,Armenia,ARM,[Wrestling],[Men's Greco-Roman 67kg],1996-12-21
3,1532944,HARUTYUNYAN Arsen,Male,ARM,Armenia,ARM,[Wrestling],[Men's Freestyle 57kg],1999-11-22
4,1532945,TEVANYAN Vazgen,Male,ARM,Armenia,ARM,[Wrestling],[Men's Freestyle 65kg],1999-10-27
...,...,...,...,...,...,...,...,...,...
11105,4982175,JOSEPH Elijah,Male,TTO,Trinidad and Tobago,TTO,[Athletics],[Men's 4 x 400m Relay],2001-07-03
11106,4982762,HOMAN Khrystyna,Female,UKR,Ukraine,UKR,[Judo],[Women +78 kg],1999-01-31
11107,4983537,CHELANGAT Annet Chemengich,Female,UGA,Uganda,UGA,[Athletics],"[Women's 10,000m]",1993-07-29
11108,4986655,ADA ETO Sefora,Female,GEQ,Equatorial Guinea,GEQ,[Athletics],[Women's 100m],2003-06-11
11109,9460001,LIUZZI Emanuela,Female,ITA,Italy,NaN,[Wrestling],[Women's Freestyle 50kg],2000-04-27

In [221]:
df_exploded_disciplines = paris_df.explode('disciplines')
df_exploded_events = df_exploded_disciplines.explode('events')
df_exploded_events

,code,name,gender,country_code,country,nationality_code,disciplines,events,birth_date
0,1532872,ALEKSANYAN Artur,Male,ARM,Armenia,ARM,Wrestling,Men's Greco-Roman 97kg,1991-10-21
1,1532873,AMOYAN Malkhas,Male,ARM,Armenia,ARM,Wrestling,Men's Greco-Roman 77kg,1999-01-22
2,1532874,GALSTYAN Slavik,Male,ARM,Armenia,ARM,Wrestling,Men's Greco-Roman 67kg,1996-12-21
3,1532944,HARUTYUNYAN Arsen,Male,ARM,Armenia,ARM,Wrestling,Men's Freestyle 57kg,1999-11-22
4,1532945,TEVANYAN Vazgen,Male,ARM,Armenia,ARM,Wrestling,Men's Freestyle 65kg,1999-10-27
...,...,...,...,...,...,...,...,...,...
11105,4982175,JOSEPH Elijah,Male,TTO,Trinidad and Tobago,TTO,Athletics,Men's 4 x 400m Relay,2001-07-03
11106,4982762,HOMAN Khrystyna,Female,UKR,Ukraine,UKR,Judo,Women +78 kg,1999-01-31
11107,4983537,CHELANGAT Annet Chemengich,Female,UGA,Uganda,UGA,Athletics,"Women's 10,000m",1993-07-29
11108,4986655,ADA ETO Sefora,Female,GEQ,Equatorial Guinea,GEQ,Athletics,Women's 100m,2003-06-11
11109,9460001,LIUZZI Emanuela,Female,ITA,Italy,NaN,Wrestling,Women's Freestyle 50kg,2000-04-27

In [233]:
filter_paris = df_exploded_events[df_exploded_events['events'] == 'Men']
filter_paris

,code,name,gender,country_code,country,nationality_code,disciplines,events,birth_date
70,1535368,CLELAND QUINONEZ Alan,Male,MEX,Mexico,MEX,Surfing,Men,2002-06-19
102,1535766,KUMEL SAADI,Male,IRQ,Iraq,IRQ,Football,Men,2004-08-19
103,1535776,JOSEF AL IMAM,Male,IRQ,Iraq,IRQ,Football,Men,2004-07-27
104,1535804,MUNTADHER ABDULAMEER,Male,IRQ,Iraq,IRQ,Football,Men,2001-10-06
105,1535805,MUNTADHER MOHAMMED,Male,IRQ,Iraq,IRQ,Football,Men,2001-06-05
...,...,...,...,...,...,...,...,...,...
11067,4968898,SYLLA Soumaila,Male,GUI,Guinea,GUI,Football,Men,2004-03-15
11068,4968900,DOUCOURE Rayane,Male,GUI,Guinea,GUI,Football,Men,2001-03-30
11069,4968901,CISSE Bangaly,Male,GUI,Guinea,GUI,Football,Men,2002-12-28
11070,4968909,CAMARA Henry,Male,GUI,Guinea,GUI,Football,Men,2006-05-06
11071,4968911,BALDE Aliou,Male,GUI,Guinea,GUI,Football,Men,2002-12-12

In [245]:
paris_medals_df = pd.read_csv('../../data/raw/medallists.csv')
paris_medals_df2 = paris_medals_df[["medal_type", "event", "code"]]
paris_medals_df2

        medal_type                          event     code
0       Gold Medal    Men's Individual Time Trial  1903136
1     Silver Medal    Men's Individual Time Trial  1923520
2     Bronze Medal    Men's Individual Time Trial  1903147
3       Gold Medal  Women's Individual Time Trial  1940173
4     Silver Medal  Women's Individual Time Trial  1912525
...            ...                            ...      ...
2266  Bronze Medal                            Men  1908350
2267  Bronze Medal                            Men  1908354
2268  Bronze Medal                            Men  1908355
2269  Bronze Medal                            Men  1908361
2270  Bronze Medal                            Men  1908359

[2271 rows x 3 columns]

In [246]:
paris_medals_df2.rename(columns= {'medal_type': 'medals', 'event': 'events'}, inplace=True)
paris_medals_df2

/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/2714515649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paris_medals_df2.rename(columns= {'medal_type': 'medals', 'event': 'events'}, inplace=True)

            medals                         events     code
0       Gold Medal    Men's Individual Time Trial  1903136
1     Silver Medal    Men's Individual Time Trial  1923520
2     Bronze Medal    Men's Individual Time Trial  1903147
3       Gold Medal  Women's Individual Time Trial  1940173
4     Silver Medal  Women's Individual Time Trial  1912525
...            ...                            ...      ...
2266  Bronze Medal                            Men  1908350
2267  Bronze Medal                            Men  1908354
2268  Bronze Medal                            Men  1908355
2269  Bronze Medal                            Men  1908361
2270  Bronze Medal                            Men  1908359

[2271 rows x 3 columns]

In [247]:
paris_medals_df2['code'] = pd.to_numeric(paris_medals_df2['code'], errors='coerce')

/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/2778087955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paris_medals_df2['code'] = pd.to_numeric(paris_medals_df2['code'], errors='coerce')

In [248]:
paris_medals_df3 = paris_medals_df2[ paris_medals_df2['code'].isna() == False ].reset_index(drop=True)
paris_medals_df3

            medals                         events       code
0       Gold Medal    Men's Individual Time Trial  1903136.0
1     Silver Medal    Men's Individual Time Trial  1923520.0
2     Bronze Medal    Men's Individual Time Trial  1903147.0
3       Gold Medal  Women's Individual Time Trial  1940173.0
4     Silver Medal  Women's Individual Time Trial  1912525.0
...            ...                            ...        ...
2250  Bronze Medal                            Men  1908350.0
2251  Bronze Medal                            Men  1908354.0
2252  Bronze Medal                            Men  1908355.0
2253  Bronze Medal                            Men  1908361.0
2254  Bronze Medal                            Men  1908359.0

[2255 rows x 3 columns]

In [249]:
paris_medals_df2['code'] = paris_medals_df2['code'].astype('Int64')

/var/folders/23/6fv5c4zd0j7gt5pr6qbdnznh0000gn/T/ipykernel_57184/813738250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paris_medals_df2['code'] = paris_medals_df2['code'].astype('Int64')

In [250]:
filter_paris2 = paris_medals_df2[paris_medals_df2['code'] == 1959861]
filter_paris2

           medals                  events     code
172    Gold Medal      Women's All-Around  1959861
249    Gold Medal           Women's Vault  1959861
368  Silver Medal  Women's Floor Exercise  1959861
906    Gold Medal            Women's Team  1959861

In [260]:
paris_merged = pd.merge(df_exploded_events, paris_medals_df2, on= 'code', how='inner')
paris_merged['edition'] = '2024 Summer Olympics'
paris_merged['olympic_year'] = 2024
paris_merged[['birth_year', 'birth_month', 'birth_day']] = paris_merged['birth_date'].str.split('-', n=2, expand=True)
paris_merged = paris_merged.drop(columns=["birth_month", "birth_day", "birth_date", "nationality_code"])
paris_merged['birth_year'] = paris_merged['birth_year'].astype('Int64')
paris_merged['age'] = paris_merged['olympic_year'] - paris_merged['birth_year']
paris_merged

,code,name,gender,country_code,country,disciplines,events_x,medals,events_y,edition,olympic_year,birth_year,age
0,1532872,ALEKSANYAN Artur,Male,ARM,Armenia,Wrestling,Men's Greco-Roman 97kg,Silver Medal,Men's Greco-Roman 97kg,2024 Summer Olympics,2024,1991,33
1,1532873,AMOYAN Malkhas,Male,ARM,Armenia,Wrestling,Men's Greco-Roman 77kg,Bronze Medal,Men's Greco-Roman 77kg,2024 Summer Olympics,2024,1999,25
2,1535187,VERDE ALVAREZ Marco Alonso,Male,MEX,Mexico,Boxing,Men's 71kg,Silver Medal,Men's 71kg,2024 Summer Olympics,2024,2002,22
3,1535349,OLVERA IBARRA Osmar,Male,MEX,Mexico,Diving,Men's 3m Springboard,Bronze Medal,Men's 3m Springboard,2024 Summer Olympics,2024,2004,20
4,1535349,OLVERA IBARRA Osmar,Male,MEX,Mexico,Diving,Men's 3m Springboard,Silver Medal,Men's Synchronised 3m Springboard,2024 Summer Olympics,2024,2004,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,4979564,WILSON Quincy,Male,USA,United States,Athletics,Men's 4 x 400m Relay,Silver Medal,4 x 400m Relay Mixed,2024 Summer Olympics,2024,2008,16
3972,4979564,WILSON Quincy,Male,USA,United States,Athletics,Men's 4 x 400m Relay,Gold Medal,Men's 4 x 400m Relay,2024 Summer Olympics,2024,2008,16
3973,4979564,WILSON Quincy,Male,USA,United States,Athletics,4 x 400m Relay Mixed,Silver Medal,4 x 400m Relay Mixed,2024 Summer Olympics,2024,2008,16
3974,4979564,WILSON Quincy,Male,USA,United States,Athletics,4 x 400m Relay Mixed,Gold Medal,Men's 4 x 400m Relay,2024 Summer Olympics,2024,2008,16
3975,4980004,van de WIEL Anne,Female,NED,Netherlands,Athletics,Women's 4 x 400m Relay,Silver Medal,Women's 4 x 400m Relay,2024 Summer Olympics,2024,1997,27

In [252]:
filter_paris_merge = paris_merged[paris_merged['name'] == 'BILES Simone']
filter_paris_merge

,code,name,gender,country_code,country,nationality_code,disciplines,events_x,birth_date,medals,events_y
3374,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women,1997-03-14,Gold Medal,Women's All-Around
3375,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women,1997-03-14,Gold Medal,Women's Vault
3376,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women,1997-03-14,Silver Medal,Women's Floor Exercise
3377,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women,1997-03-14,Gold Medal,Women's Team
3378,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's All-Around,1997-03-14,Gold Medal,Women's All-Around
3379,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's All-Around,1997-03-14,Gold Medal,Women's Vault
3380,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's All-Around,1997-03-14,Silver Medal,Women's Floor Exercise
3381,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's All-Around,1997-03-14,Gold Medal,Women's Team
3382,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Balance Beam,1997-03-14,Gold Medal,Women's All-Around
3383,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Balance Beam,1997-03-14,Gold Medal,Women's Vault
3384,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Balance Beam,1997-03-14,Silver Medal,Women's Floor Exercise
3385,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Balance Beam,1997-03-14,Gold Medal,Women's Team
3386,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Floor Exercise,1997-03-14,Gold Medal,Women's All-Around
3387,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Floor Exercise,1997-03-14,Gold Medal,Women's Vault
3388,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Floor Exercise,1997-03-14,Silver Medal,Women's Floor Exercise
3389,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Floor Exercise,1997-03-14,Gold Medal,Women's Team
3390,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Uneven Bars,1997-03-14,Gold Medal,Women's All-Around
3391,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Uneven Bars,1997-03-14,Gold Medal,Women's Vault
3392,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Uneven Bars,1997-03-14,Silver Medal,Women's Floor Exercise
3393,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Uneven Bars,1997-03-14,Gold Medal,Women's Team
3394,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Vault,1997-03-14,Gold Medal,Women's All-Around
3395,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Vault,1997-03-14,Gold Medal,Women's Vault
3396,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Vault,1997-03-14,Silver Medal,Women's Floor Exercise
3397,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Vault,1997-03-14,Gold Medal,Women's Team
3398,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Team,1997-03-14,Gold Medal,Women's All-Around
3399,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Team,1997-03-14,Gold Medal,Women's Vault
3400,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Team,1997-03-14,Silver Medal,Women's Floor Exercise
3401,1959861,BILES Simone,Female,USA,United States,USA,Artistic Gymnastics,Women's Team,1997-03-14,Gold Medal,Women's Team

In [ ]:
# paris_merged = pd.merge(paris_df1, paris_df2, on='athlete_id', how='inner')